.SearchPanel .test-border {
  border: solid 1px lightskyblue;
}

.SearchPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px red;

  color: white;
}
