/*.SearchPanel .test-border {
  border: solid 1px lightskyblue;
} */

.SearchPanel {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 70vw;
  min-height: 20vh;
  border: solid 1px red;
  background-color: white;
}
